[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[deploy]
rootDirectory = "/app"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/health"
healthcheckTimeout = 100
